html {
  font-size: 16px;
  box-sizing: border-box;
}

#Error {
  font-size: 0.9em;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 50%;
  background-color: #A00;
  color: white;
  text-align: center;
  font-family: Verdana, non-serif;
}

#contribution {
  font-size: 0.9em;
  font-family: Verdana, non-serif;
  color: #555;
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 25px;
  background-color: #efefef;
  border-top: 1px solid #ddd;
}

#AST {
  cursor: default;
  padding-top: 15px;
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  width: 50%;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Editor {
  padding-top: 15px;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  bottom: 25px;
  overflow: auto;
}

#AST ul {
  margin: 0;
  padding-left: 15px;
}

li.entry {
  margin: 0;
  list-style: none;
  padding: 5px;
  position: relative;
}

.entry.focused.lastFocused > .value,
.entry.focused:not(.open) > .key,
.entry.focused:not(.open) > .value {
}

.entry.focused.lastFocused,
.entry.focused:not(.open) {
  border-radius: 2px;
  border-right: 5px solid #555;
  background-color: rgba(255,255,255,0.5);
}

.entry.toggable::before {
  content: '+';
  color: green;
  position: absolute;
  left: -10px;
}

.entry.toggable.open::before {
  content: '-';
  color: red;
}


.entry.toggable > .key .name {
  cursor: pointer;
}

.entry.toggable > .key .name:hover {
  text-decoration: underline;
}

.placeholder {
  font-size: 0.9em;
}

.tokenName {
  cursor: pointer;
}

.tokenName:hover {
  text-decoration: underline;
}

.CodeMirror .marked {
  background-color: #fff206;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-gutters {
  background-color: white;
  border: none;
}
