html {
  font-size: 16px;
  box-sizing: border-box;
}

#Toolbar {
  font-family: monospace;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #ddd;
  color: #454545;
  padding-left: 10px;
  background-color: #efefef;
}

#Toolbar > h1 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

#Toolbar > button {
  margin: 0;
  height: 100%;
  min-width: 90px;
  border: 1px solid transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 16px;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  outline: none;
  cursor: pointer;
}

#Toolbar > button:disabled,
#Toolbar > button:disabled:hover,
#Toolbar > button:disabled:active {
  background-color: transparent;
  color: #888;
  cursor: default;
}

#Toolbar > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#Toolbar > button:active {
  background-color: rgba(0, 0, 0, 0.3);
}


#Error {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #C00;
  color: white;
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-family: Verdana, non-serif;
}

#contribution {
  font-size: 0.9em;
  font-family: Verdana, non-serif;
  color: #555;
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 25px;
  background-color: #efefef;
  border-top: 1px solid #ddd;
}

#AST {
  cursor: default;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  padding-left: 15px;
  width: 50%;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 35px;
  bottom: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Editor {
  position: absolute;
  width: 50%;
  top: 45px;
  left: 0;
  bottom: 25px;
  overflow: auto;
}

#AST ul {
  margin: 0;
  padding-left: 15px;
}

li.entry {
  margin: 0;
  list-style: none;
  padding: 5px;
  position: relative;
}

.entry.focused.lastFocused > .value,
.entry.focused:not(.open) > .key,
.entry.focused:not(.open) > .value {
}

.entry.focused.lastFocused,
.entry.focused:not(.open) {
  border-radius: 2px;
  border-right: 5px solid #555;
  background-color: rgba(255,255,255,0.5);
}

.entry.toggable::before {
  content: '+';
  color: green;
  position: absolute;
  left: -10px;
}

.entry.toggable.open::before {
  content: '-';
  color: red;
}


.entry.toggable > .key .name {
  cursor: pointer;
}

.entry.toggable > .key .name:hover {
  text-decoration: underline;
}

.placeholder {
  font-size: 0.9em;
}

.tokenName {
  cursor: pointer;
}

.tokenName:hover {
  text-decoration: underline;
}

.CodeMirror .marked {
  background-color: #fff206;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-gutters {
  background-color: white;
  border: none;
}
