html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Verdana, non-serif;
}

.dropTarget {
  position: absolute;
  top: 0;
  bottom: 26px;
  left: 0;
  right: 0;
}

.dropIndicator {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 3px dashed #888;
  border-radius: 10px;
}

.dropIndicator > div {
  max-width: 90%;
  color: #888;
  font-size: 32px;
}

#Toolbar {
  font-family: monospace;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #ddd;
  color: #454545;
  padding-left: 10px;
  background-color: #efefef;
}

#Toolbar > h1 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

#Toolbar > button {
  margin: 0;
  height: 100%;
  min-width: 90px;
  border: 1px solid transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 16px;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  outline: none;
  cursor: pointer;
}

#Toolbar > button:disabled,
#Toolbar > button:disabled:hover,
#Toolbar > button:disabled:active {
  background-color: transparent;
  color: #888;
  cursor: default;
}

#Toolbar > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#Toolbar > button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

#parser {
  color: #898989;
  float: right;
  padding-right: 20px;
}

#Error {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #C00;
  color: white;
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-family: Verdana, non-serif;
}

#contribution {
  font-size: 0.9em;
  color: #555;
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 25px;
  background-color: #efefef;
  border-top: 1px solid #ddd;
}

.splitpane-content {
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
}

.splitpane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.splitpane-divider {
  background-color: #ddd;
}

.splitpane-divider:hover {
  background-color: #999;
  cursor: col-resize;
}

.splitpane-divider.vertical:hover {
  cursor: row-resize;
}

.output {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  border: none;
}

.output > .toolbar {
  font-size: 14px;
  margin-left: -1px;
  border-bottom: 1px solid #ddd;
}

.output > .toolbar > button {
  margin: 0;
  height: 100%;
  min-width: 90px;
  border: 1px solid transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 14px;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  outline: none;
  cursor: pointer;
}

.output > .toolbar > button.active {
  border-color: #999;
  background-color: #999;
  color: #f5f5f5;
}

.output > .container {
  overflow: auto;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
}

#tree {
  margin: 0;
  cursor: default;
  padding-left: 15px;
  box-sizing: border-box;
  font-family: monospace;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#JSONEditor .CodeMirror {
  font-size: 0.9em;
}

#JSONEditor .CodeMirror,
#JSONEditor .CodeMirror-gutters {
  background-color: #efefef;
}

.editor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#tree ul {
  margin: 0;
  padding-left: 15px;
}

li.entry {
  margin: 0;
  list-style: none;
  padding: 5px;
  position: relative;
}

.CodeMirror .marked,
.entry.focused {
  border-radius: 2px;
  background-color: rgba(255,240,6,0.4);
}

.entry.toggable::before {
  content: '+';
  color: green;
  position: absolute;
  left: -10px;
}

.entry.toggable.open::before {
  content: '-';
  color: red;
}


.entry.toggable > .key .name {
  cursor: pointer;
}

.entry.toggable > .key .name:hover {
  text-decoration: underline;
}

.placeholder {
  font-size: 0.9em;
}

.array,
.tokenName {
  cursor: pointer;
}

.array:hover,
.tokenName:hover {
  text-decoration: underline;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-scroll {
  overflow: auto;
}

.editor .CodeMirror-gutters {
  background-color: white;
  border: none;
}

.CodeMirror .ErrorGutter {
  width: .7em;
}

.CodeMirror pre.errorMarker {
  background-color: #EB9494;
}
