.tree-visualization {
  display: flex;
  flex-direction: column;
}

.tree-visualization > .toolbar {
  padding: 5px;
  flex-shrink: 0;
}

.tree-visualization > .toolbar > label {
  cursor: pointer;
  margin-right: 5px;
  -webkit-touch-callout: none;
  user-select: none;
  white-space: nowrap;
}

.tree-visualization ul {
  margin: 0;
  padding-left: 20px;
}

.tree-visualization > ul {
  cursor: default;
  box-sizing: border-box;
  font-family: monospace;
  -webkit-touch-callout: none;
  user-select: none;
  overflow-y: auto;
  height: 100%;
}

.tree-visualization .value-body {
  min-width: 300px;
  width: fit-content;
}
