parser: babel-eslint

plugins:
  - react

rules:
  comma-dangle: [1, "always-multiline"]
  new-cap: 0
  no-path-concat: 0
  no-undef: 2
  no-underscore-dangle: 0
  no-use-before-define: 0
  quotes: [2, "single", "avoid-escape"]
  strict: 0
  react/react-in-jsx-scope: 1
  react/jsx-no-undef: 1

env:
  browser: true
  node: true

globals:
  loadjs: true
