{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "not-process-exit": 0,
    "strict": 0
  },
  "env": {
    "node": true
  }
}
