sudo: false
language: node_js
node_js:
  - node
cache:
  yarn: true
  directories:
    - website/node_modules
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - cd website
  - yarn
script:
  - if [ ${NODE_ENV} = "development" ]; then yarn lint; fi
  - yarn watch -- --no-watch
env:
  - NODE_ENV=development
  - NODE_ENV=production
