{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-runtime", {
      // https://github.com/babel/babel/issues/2877 describes an issue
      // where babel inserts untranspiled import statements into a
      // module. That module then contains ES6 and CommonJS module code,
      // leading to issues with webpack. Disabling the polyfill seems
      // to fix it, and we probably don't need it anyway.
      // (should also result in smaller bundles)
      "polyfill": false
    }]
  ]
}
