<!DOCTYPE html>
<html>
  <head>
    <title>AST explorer</title>
    <meta charset="UTF-8">
    <meta name="description" content="An online AST explorer.">
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </head>
  <body>
    <div id="page">
      <div id="container"></div>
      <div id="contribution">
        Built with
        <a href="https://reactjs.org/">React</a>,
        <a href="https://babeljs.io/">Babel</a>,
        <a href="https://fontawesome.com/">Font Awesome</a>,
        <a href="https://codemirror.net/">CodeMirror</a>,
        <a href="https://expressjs.com/">Express</a>,
        and
        <a href="https://webpack.js.org/">webpack</a>
        |
        <a href="https://github.com/fkling/astexplorer">GitHub</a>
      </div>
    </div>
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    var ID = location.hostname === 'astexplorer.net' ?
      'UA-81889051-1' :
      'UA-81889051-2';
    ga('create', ID, 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </body>
</html>
