/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_45cd59da2a1bc422647cab7f53639319.eot");
  src: url("./fontcustom_45cd59da2a1bc422647cab7f53639319.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_45cd59da2a1bc422647cab7f53639319.woff2") format("woff2"),
       url("./fontcustom_45cd59da2a1bc422647cab7f53639319.woff") format("woff"),
       url("./fontcustom_45cd59da2a1bc422647cab7f53639319.ttf") format("truetype"),
       url("./fontcustom_45cd59da2a1bc422647cab7f53639319.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_45cd59da2a1bc422647cab7f53639319.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-GraphQL_Logo:before,
.icon-handlebars:before,
.icon-icu:before,
.icon-java:before,
.icon-ocaml:before,
.icon-reason:before,
.icon-rust:before,
.icon-scala:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-GraphQL_Logo:before { content: "\f100"; }
.icon-handlebars:before { content: "\f101"; }
.icon-icu:before { content: "\f102"; }
.icon-java:before { content: "\f107"; }
.icon-ocaml:before { content: "\f106"; }
.icon-reason:before { content: "\f105"; }
.icon-rust:before { content: "\f104"; }
.icon-scala:before { content: "\f103"; }
